<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="#">Home</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
            
			<li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/employees"  class="nav-link" routerLinkActive="active">
                    <button mat-button (click)="EmployeeService.disableForm()">Consult Employees</button>
                </a>
			</li>
			<li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/employees" class="nav-link" routerLinkActive="active">
                    <button mat-button (click)="EmployeeService.enableForm()">Add Employee</button>
                  </a>
			</li>
		</ul>
	</div>
</nav>